@import './mdi/materialdesignicons.scss';

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Courier_Prime';
  src: url('../assets/fonts/CourierPrime-Regular.ttf') format('truetype');
}

